<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="2.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="AutoFixture" version="4.18.1" targetFramework="net48" developmentDependency="true" />
  <package id="AutoFixture.AutoMoq" version="4.18.1" targetFramework="net48" developmentDependency="true" />
  <package id="AutoFixture.Idioms" version="4.18.1" targetFramework="net48" developmentDependency="true" />
  <package id="AutoFixture.Xunit2" version="4.18.1" targetFramework="net48" developmentDependency="true" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="Fare" version="2.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="Moq" version="4.20.72" targetFramework="net48" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" developmentDependency="true" />
  <package id="xunit" version="2.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net46" developmentDependency="true" />
  <package id="xunit.analyzers" version="1.20.0" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.assert" version="2.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.core" version="2.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.extensibility.core" version="2.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.extensibility.execution" version="2.9.3" targetFramework="net48" developmentDependency="true" />
</packages>